* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

li {
    list-style: none;
}

.board {
    border: 1px solid blueviolet;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 50vh;
}

section {
}
.writeSection {
}
.hide {
    display: none;
}

footer {
    border: 1px solid rgb(155, 151, 158);
    position: absolute;
    width: 100%;
    bottom: 0;
}