* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    border: 1px solid blueviolet;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 75px;
    width: 800px;
    height: 650px;
    overflow-y: scroll;
}

header {
    top: 0;
    position: sticky;
}
.header__buttons {
    background: rgb(204, 204, 204);
    display: block;
    text-align: center;
    
}

.btn {
    width: 120px;
    padding: 15px;
    margin: 0 13px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover {
    background: grey;
}
.btn:active {
    transform:scale(0.9);
    background: rgba(231, 231, 231, 0.425);
}
.listSection {
    text-align: left;
    /* overflow-y: auto; */
}
section {
    /* overflow-y: scroll; */
}
.listSection li {
    border-bottom: 1px solid darkgray;
    cursor: pointer;
    padding-left: 25px;
    /* font-size: 1.5rem; */
    line-height: 3rem;
    font-weight: 100;
    
}
.listSection li:hover {
    background: rgb(231, 231, 231);
}

.writeSection {
    padding: 5px 30px;
    height: 570px;
    background: rgba(175, 175, 175, 0.2);
    display: flex;
    flex-direction: column;
    /* align-items:center */
    justify-content:space-around
}

.writeSection input {
    height: 7%;
    padding: 2px 7px;
    font-size: 1.5rem;
    font-family: serif;
    line-height: 3rem;
    font-weight: lighter;
}
.writeSection textarea {
    height: 45%;
    padding: 2px 7px;
    font-size: 1.5rem;
    font-family: serif;
    line-height: 3rem;
    font-weight: lighter;
}

.readSection__desc {
    text-align: center;
    font-size: 2.5rem;
    align-items: center;
    /* height: inherit; */
    height: 600px;
}

.hide {
    display: none;
}

footer {
    /* border: 1px solid rgb(155, 151, 158); */
    background-color: rgba(138, 100, 165, 0.6);
    position:static;
    bottom: 0;
}
footer p {
    padding-left: 10px;
    color: white;
}